/** ================================
 ** General
 ** ==============================*/
* {
    margin: 0;
}

body {
    color: #fff;
    background-color: #0e1622;
    background: url('images/background.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: 99.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    width: 30%;
    min-height: 200px;
    max-width: 100%;
    max-height: 100%;
    background: rgba(14, 22, 34, 0.4);
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-family: 'Coda', cursive;
    color: #00f3ff !important;
    margin-bottom: 20px;
}

.subtext {
    font-family: 'Coda', cursive;
    margin-bottom: 20px;
    display: block;
}

#question-heading h1 {
    color: #ffffff !important;
}

.pill-btn {
    display: block;
    padding: 15px 50px 15px 50px;
    text-transform: none;
    font-size: 18px;
    font-family: 'Coda', cursive;
    background: rgb(14, 22, 34, 0.1);
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    font-weight: bold;
    margin-top: 20px;
    margin: 0 auto;
    text-decoration: none;
}

a.pill-btn {
    max-width: 40%;
}

.pill-btn:hover {
    background: #ffffff;
    color: #000;
}

/** ================================
 ** Footer
 ** ==============================*/
footer {
    font-size: 20px;
    background: rgba(14, 22, 34, 0.8);
    padding: 20px;
    bottom: -3px;
    position: relative;
    font-family: 'Coda', cursive;
    border-top: 1px solid rgb(104, 103, 103);
}

#copyright {
    text-align: left;
    width: 38%;
    float: left;
    position: relative;
    top: 5px;
}

#social-links {
    text-align: right;
    width: 58%;
    float: right;
    position: relative;
    top: 5px;
}

#social-links img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    opacity: 0.8;
}

#social-links img:hover {
    opacity: 1;
}

/** ================================
 ** Questions
 ** ==============================*/
.question-list a {
    display: block;
    list-style: none;
    width: 80%;
    border: 2px solid rgb(140, 34, 167);
    margin: 0 auto;
    background: rgba(30, 14, 34, 0.4);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
}

.question-list a:hover {
    border: 2px solid #fff;
}

.question-text {
    font-family: 'Coda', cursive;
    font-size: 24px;
    font-weight: bold;
}

.question-date {
    font-size: 16px;
    margin-top: 10px;
}

/** ================================
 ** Choices
 ** ==============================*/
.choice {
    display: block;
    width: 80%;
    min-height: 32px;
    border: 2px solid rgb(57, 218, 177);
    margin: 0 auto;
    background: rgba(30, 14, 34, 0.4);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

label.choice {
    font-family: 'Coda', cursive;
    font-size: 24px;
    cursor: pointer;
}

.choice input[type=radio] {
    display: none;
}

.choice:hover {
    border: 2px solid #fff;
}

.choice:focus,
.choice:active,
.choice:target {
    background: #fff;
    color: #000;
    border: 2px solid rgb(255, 255, 255);
}

.choice-text {
    width: 75%;
    float: left;
    text-align: left;
}

.choice-votes {
    width: 20%;
    float: right;
    text-align: right;
    margin-right: 10px;
}

/** ================================
 ** Results
 ** ==============================*/
.result {
    display: block;
    width: 80%;
    border: 2px solid rgb(57, 218, 177);
    margin: 0 auto;
    background: rgba(30, 14, 34, 0.4);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Coda', cursive;
    font-size: 24px;
}

.result-bar {
    display: block;
    height: 10px;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin-top: 50px !important;
    clear: both;
}

.result-bar>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(204, 62, 62);
    position: relative;
}

/** ================================
 ** Media queries
 ** ==============================*/
@media only screen and (max-width: 1300px) {
    .container {
        width: 50%;
    }
}

@media only screen and (max-width: 950px) {
    .container {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}
